<div class="pattern-container d-flex flex-column">
	<div class="pattern-action-bar d-flex flex-row">
		<div class="btn-group" dropdown>
			<button class="btn btn-secondary add-btn dropdown-toggle" dropdownToggle>
				<i class="fa-solid fa-plus-circle"></i>
			</button>
			<ul *dropdownMenu class="dropdown-menu">
				<li role="menuitem" (click)="addRowColumn('row')" title="Add a Row">Row</li>
				<li role="menuitem" (click)="addRowColumn('column')" title="Add a Column">Column</li>
			</ul>
		</div>
	</div>
	<div class="design-container">
		<div *ngFor="let row of rows; let rowIdx = index;" class="pattern-row d-flex flex-row">
			<div class="row-number">{{rowIdx + 1}}</div>
			<div
				*ngFor="let bead of row; let colIdx = index"
				class="pattern-column-container d-flex flex-column align-items-center">
				<div class="column-number"
							*ngIf="rowIdx === 0">{{colIdx + 1}}
				</div>
				<div
					class="pattern-column"
					[title]="bead.x + ',' + bead.y"
					[style.background-color]="bead.color">
					<app-context-menu
						[dropdownItems]="bead.contextMenuData"
						[isVisible]="bead.contextMenuVisible"
						(menuItemClicked)="contextMenuItemClick($event)">
					</app-context-menu>
					<input type="color"
						 [value]="bead.color || '#ffffff'"
						 (contextmenu)="showContextMenu($event, bead); false"
						 (input)="updateColor($event, bead)" />
				</div>
			</div>
		</div>
	</div>
</div>

